@charset "utf-8";
/* CSS Document */

#TableroDibujo table{
	margin: 0 auto;
}

#TableroDibujo table tr td{
	width:10px;
	height:10px;
}

#Pincel table{
	margin: 0 auto;
	font-weight:bold;
}


#Paleta table{
	margin: 0 auto;
}

#Paleta table tr td{
	width: 70px;
	height: 50px;
}


table tr td.c0{
	background: white;
}
table tr td.c1{
	background: red;
}
table tr td.c2{
	background: yellow;
}
table tr td.c3{
	background: black;
}
table tr td.c4{
	background: orange;
}
table tr td.c5{
	background: blue;
}
table tr td.c6{
	background: brown;
}
table tr td.c7{
	background: lightblue;
}
table tr td.c8{
	background: green;
}
table tr td.c9{
	background: grey;
}
