@charset "utf-8";
/* CSS Document */
/*
	body
		Estilo general para todo el sitio web
*/

body{
    margin: 0 auto;
    padding: 0;
    color: #6C6C6E;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    background-color: #FFF;
    width: 953px;
}

header{

}

nav{
    float: left;
    width: 237px;
    border-bottom: 1px solid #6D6D6F;
    margin-top: 0;
    overflow:hidden;
    position:relative;
}

nav ul{
    background: #E9E9EB;
    padding: 0;
    margin: 0;
}

.container{

}