@charset "utf-8";
/* CSS Document */
/*
	body
		Estilo general para todo el sitio web
*/

/* Cuerpo de la pagina */
body{
    margin: 0 auto;
    padding: 0;
    color: #6C6C6E;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    background-color: #FFF;
    width: 953px;
}
/* Cabecera de la web */
header{
    height: 230px;
    margin-bottom: 18px;
}
/* Logo de la UGR que esta dentro de la cabecera */
header #logo {
    height: 80px;
    margin: 0;
    float: right;
}
/* Link a la pagina de inicio */
#inicio{
    height: 20px;
}

nav{
    float: left;
    width: 237px;
    border-bottom: 1px solid #6D6D6F;
    margin-top: 0;
    overflow:hidden;
    position:relative;
}

nav ul{
    background: #E9E9EB;
    padding: 0;
    margin: 0;
}

.container{

}